@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --black : #101010;
    --darkGray: #191919;
    --lightWhite: #e2e2e2;
    --orange: #ca3c08af;
}
* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-family: 'Poppins', cursive;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/*RESTO DA PAGINA===============================================*/

.cor {
    background-color: var(--black);
    background-size: cover;
    background-repeat: no-repeat;
 }

 .cor2{
    background-color: var(--darkGray);
 }

section{
    padding: 20px;  
}

#apresentacao {
    margin-top: 5%;
    text-align: left;
    margin-left: 60px;

    
}
.title{
   
    background: -webkit-linear-gradient(#ca3c08, #f9004d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.title h1 {
    font-family: 'Montserrat';
    
    margin-bottom: 4%;
    font-size: 80px;
}
.title h2 {
    font-family: 'Montserrat';

    font-weight: 45PX;
    margin-bottom: 20px;
}
.title2 {
    font-family: 'Poppins';
    
    color: var(--lightWhite);
    margin: auto;
    text-align: center;
   
}
/*sobre mim*/

/* Estilos para o texto à direita da imagem */
.texto-direita {
    width: 60%;
    float: right;
   
    text-align: left; /* Alinhar o texto à esquerda */
}

/* Estilos adicionais para o texto */
.texto-direita h1 {
    font-family: 'Poppins';
    font-size: 60px;
    color: var(--lightWhite);
    margin-top: 60px;
}

.texto-direita h2 {
    font-family: 'Poppins';
    font-size: 30px;
    color: var(--lightWhite);
    margin-top: 60px;
}

.texto-direita p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #c6c9d8cb;
}

/* Estilos adicionais para a imagem */
#foto{
    width: auto;
    height: 500px;
    float: left;
    margin-top: 0;
}

.sobre img{
    border-radius: 10px;
}


/*projetos*/

#projeto {
    padding: 20px;
}

/* Modificações para o layout flexível dos projetos */
.flexivel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 6px;
}


#projeto h1 {
    font-family: 'Poppins';
    font-size: 54px;
    color: var(--lightWhite);
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
}

.colunaCartao h2{
    font-family: 'Poppins';
    font-size: 30px;
    color: var(--lightWhite);
    margin-top: 60px;

}

.colunaCartao {
    width: 326px; /* Define a largura de cada coluna de projeto */
    height: 500px;
    margin-bottom: 20px; 
    border-radius: 10px;
    background-color: var(--black);
    color: #fff;
    padding: 20px;
    transition: all 0.5s;
    border: 0.1px solid #cccccc4b;
}

.colunaCartao p{
    color: var(--lightWhite);
    text-align: justify;
    align-items: center;
    margin-top: 15%;
}

.colunaCartao button{
    width: 95px;
    height: 40px;
    color: #fff;
    background: #202c5500;
    border-radius: 4px;
    border: 1px solid var(--lightWhite);
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    margin-top: 14px;
    margin-bottom: 20px;
    align-items: center;
}

a{
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.colunaCartao:hover {
    background: var(--orange,--darkGray); /* Altera a cor de fundo ao passar o mouse */
  
}


.colunaCartao:nth-child(odd) {
    margin-right: 0; /* Remove a margem direita da coluna ímpar */
}

.colunaCartao:nth-child(even) {
    margin-left: 0; /* Remove a margem esquerda da coluna par */
}

#cartao1 {
  
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    z-index: 1;
}
/* contato*/
#contato{
    margin-top: 5%;
    text-align: center;
    align-items: center;
    
}
.contato{
    background-color: var(--black);
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formulario p{
    font-weight: 40px;
    align-items: center;
    margin-left: auto;
}
.form-content{
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
}
.form-content label{
    display: inline-block;
    margin-bottom: 4px;
}

.form-content input{
    display: inline-block;
    width: 30em;
    border-radius: 8px;
    padding: 8px;
    border: 1px solid #ccc;
}
.form-content p{
    position: absolute;
    bottom: -8px;
    left: 0;
    visibility: hidden;
}
.form button{
    width: 90px;
    height: 40px;
    color: #fff;
    background: #202c55;
    border-radius: 8px;
    border: none;
    font-size: 15px;
    padding: 10px;
    cursor: pointer;
    margin-top: 14px;
}

.form button:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

.campoForm{
    width: 40px;
}
.form-content.error input{
    border-color: #ff3b25;
}
.form-content.error p{
    color: #ff3b25;
    visibility: visible;
    font-size: 14px;
    text-align: center;
    margin-left: 10%;

}
textarea{
    padding: 10px;
    outline: none;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    transition: all 0.5s;
    width: 30em;
}

textarea:focus{
    border-color: #202c55;
    transition: all 0.5s;
}
.form-content input:focus{
    border-color: #202c55;
    transition: all 0.5s;
}

/* Animacoes*/

[data-anima]{
    opacity: 0;
    transition: .8s;
}

[data-anima="esquerda"]{
     transform: translate3d(-50px,0,0 );/*X Y Z*/
}

[data-anima="direita"]{
    transform: translate3d(50,0,0);
}

[data-anima="centro"]{
    transform: translate3d(0,50px,0);
}

[data-anima].animacao{
    opacity: 1;
    transform: translate3d(0,0,0);
}

/*RESPONSIVIDADE */
/*para smartphone ate 360px*/
@media screen and (max-width: 360px){

    section{
        width: 100%;
    }
    .flexivel{
        width: 100%;
        display: block;
    }

    .cartao {
        width: 50%;
        height: 35%;
        margin-right: 80px;
    }
    .colunaCartao{
        width: 100%;
        height: 220px;
        color: #fff;
        margin: auto;
    }

    #apresentacao{
        text-align: center;
        margin: 15%;
        height: 25%;
    }
   
    .cartaoImagem{
        margin: auto;
    }
    #sobre{
        align-items: center;
        text-align: center;

    }
    .sobre p{
        width: 100%;
        margin: auto;
        font-size: 17px;
    }

    .form-content input{
        width: 100%;
    }
    .form-content textarea{
        width: 100%;
    }

    
}
/*para smartphone ate 720px*/

@media screen and (max-width: 720px)and (min-width: 361px){
    .flexivel{
        width: 100%;
        display: block;
    }

    .cartao {
        width: 50%;
        height: 35%;
        margin-right: 80px;
    }
    .colunaCartao{
        width: 100%;
        height: 220px;
        color: #fff;
        margin: auto;
    }

    #apresentacao{
        text-align: center;
        margin: 15%;
        height: 25%;
        width: 100%;
    }
   
    .cartaoImagem{
        margin: auto;
    }
    #sobre{
        align-items: center;
        text-align: center;

    }
    .sobre p{
        width: 100%;
        margin: auto;
        font-size: 17px;
    }
    .form-content input{
        width: 100%;
    }
    .form-content textarea{
        width: 100%;
    }

    
}
/*para tela ate 1024px*/
@media screen and (max-width: 1024px)and (min-width: 721px){
    .flexivel{
        width: 100%;
        align-items: center;
        display: block;

    }

    .cartao {
        width: 70%;
        height: 35%;
        margin-left: 50% ;
        display: block;
    }

    #apresentacao{
        text-align: center;
        margin: 15%;
        height: 25%;
        width: 100%;
    }
   
    #sobre{
        width: 100%;
        align-items: center;
        text-align: center;

    }
    .sobre p{
        display: flex;
        width: 100%;
        margin: auto;
        font-size: 17px;
    }

    
}
    
