@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --black : #101010;
    --darkGray: #191919;
    --lightWhite: #e2e2e2;
    --orange: #ca3c08af;
}
* {
    padding: 0;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}


/*RESTO DA PAGINA===============================================*/

.cor {
    background-color: var(--black);
    background-size: cover;
    background-repeat: no-repeat;
}

.cor2{
    background-color: var(--darkGray);
}

section{
    padding: 20px;  
    width: 100%;
}

#apresentacao {
    margin-top: 5%;
    text-align: left;
    margin-left: 60px;
}

.title{
    background: -webkit-linear-gradient(#ca3c08, #f9004d);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.title h1 {
    font-family: 'Montserrat';
    margin-bottom: 4%;
    font-size: 80px;
}

.title h2 {
    font-family: 'Montserrat';
    font-weight: 45PX;
    margin-bottom: 20px;
}

.title2 {
    font-family: 'Poppins';
    color: var(--lightWhite);
    margin: auto;
    text-align: center;
}

/*sobre mim*/
#sobre{
    z-index: 1;
}

.texto-direita {
    width: 60%;
    float: right;
    text-align: left;
}

.texto-direita h1 {
    font-family: 'Poppins';
    font-size: 60px;
    color: var(--lightWhite);
    margin-top: 60px;
}

.texto-direita h2 {
    font-family: 'Poppins';
    font-size: 30px;
    color: var(--lightWhite);
    margin-top: 60px;
}

.texto-direita p {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    color: #c6c9d8cb;
}

#foto{
    width: auto;
    height: 500px;
    float: left;
    margin-top: 0;
}

.sobre img{
    border-radius: 15px;
}

/* servico */
#servico {
    z-index: 9;
}

.servico {
    display: flex;
    align-items: flex-start;
}

.servico h1 {
    font-family: 'Poppins';
    font-size: 60px;
    color: var(--lightWhite);
    margin-top: 60px;
    margin-bottom: 10px;
    text-align: left;
    margin-right: 80px;
    margin-left: 60px;
}

.servico-item {
    display: flex;
}

.servico-item article:hover{
    background: linear-gradient(to bottom, #ca3c08e7, #f9004d );
}
.servico-item article:hover{
    border-radius: 10px;
    padding: 10px;
}

.coluna {
    flex: 1;
    margin-right: 30px;
    width: 300px;
    height: 310px;
    margin-top: 80px;
    padding: 0 15px;
}

.coluna:last-child {
    margin-right: 0;
}

.coluna h2 {
    font-family: 'Poppins';
    font-size: 19px;
    color: var(--lightWhite);
    margin-top: 20px;
}

/*projetos*/

#projeto {
    padding: 20px;
}

/* Modificações para o layout flexível dos projetos dentro do carrossel */
.flexivel {
    display: flex;
    flex-wrap: nowrap; /* Impede que os itens quebrem a linha */
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 0 20px; /* Adiciona um espaçamento interno para evitar que os itens fiquem colados às bordas do carrossel */
}

/* Ajustes para cada projeto */


.colunaCartao:last-child {
    margin-right: 0; /* Removendo a margem direita do último projeto */
}

.colunaCartao p{
    color: var(--lightWhite);
    text-align: justify;
    align-items: center;
    margin-top: 15%;
}

.colunaCartao button{
    width: 95px;
    height: 40px;
    color: #fff;
    background: #202c5500;
    border-radius: 4px;
    border: 1px solid var(--lightWhite);
    font-size: 14px;
    padding: 10px;
    cursor: pointer;
    margin-top: 14px;
    margin-bottom: 20px;
    align-items: center;
}

a{
    text-decoration: none;
    color: #fff;
    text-align: center;
}

.colunaCartao:hover {
    background: var(--orange,--darkGray); /* Altera a cor de fundo ao passar o mouse */
}

.colunaCartao:nth-child(even) {
    margin-left: 0; /* Remove a margem esquerda do projeto par */
}

#cartao1 {
    height: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    z-index: 1;
}

/* contato*/
#contato{
    margin-top: 5%;
    text-align: center;
    align-items: center;
}

.contato{
    background-color: var(--black);
}
#contato h1{
    font-family: 'Poppins';
    font-size: 30px;
    color: var(--lightWhite);
    margin-top: 60px;
    margin-bottom: 30px;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--lightWhite);
}

.formulario p{
    font-weight: 40px;
    align-items: center;
    margin-left: auto;
}

.form-content{
    margin-bottom: 8px;
    padding-bottom: 18px;
    position: relative;
}

.form-content label{
    display: inline-block;
    margin-bottom: 4px;
}

.form-content input{
    display: inline-block;
    width: 30em;
    border-radius: 8px;
    padding: 8px;
    border: 1px solid #0b45b1;
    margin-left: 10px;
    background-color: rgba(0, 0, 0, 0);
}

.form-content p{
    position: absolute;
    bottom: -8px;
    left: 0;
    visibility: hidden;
}

.form button{
    width: 95px;
    height: 40px;
    color: var(--lightWhite);
    background: #202c0000;
    border-radius: 8px;
    border: 1px solid var(--lightWhite);
    font-size: 15px;
    padding: 5px;
    cursor: pointer;
    margin-top: 14px;
}

.form button:hover{
    transform: scale(1.1);
    transition: all 0.5s;
}

.campoForm{
    width: 40px;
}

.form-content.error input{
    border-color: #ff3b25;
}

.form-content.error p{
    color: #ff3b25;
    visibility: visible;
    font-size: 14px;
    text-align: center;
    margin-left: 10%;
}

textarea{
    padding: 10px;
    outline: none;
    border: 1px solid #0b45b1;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 8px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 15px;
    transition: all 0.5s;
    width: 30em;
}

textarea:focus{
    border-color: #202c55;
    transition: all 0.5s;
}

.form-content input:focus{
    border-color: #202c55;
    transition: all 0.5s;
}

/* Animacoes*/

[data-anima]{
    opacity: 0;
    transition: .8s;
}

[data-anima="esquerda"]{
     transform: translate3d(-50px,0,0 );
}

[data-anima="direita"]{
    transform: translate3d(50,0,0);
}

[data-anima="centro"]{
    transform: translate3d(0,50px,0);
}

[data-anima].animacao{
    opacity: 1;
    transform: translate3d(0,0,0);
}
